<!DOCTYPE html>
<html>
	<head>
		<title>Angular JS</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="namesCtrl">
			<p>The list will only consists of names matching the filter.</p>
			<p>Type a letter in the input field:</p>
			<p><input type="text" ng-model="test"></p>
			<ul>
				<li ng-repeat="x in names | filter:test">{{ x }}
				</li>
			</ul>
		</div>
		<script>
			angular.module('myApp', []).controller('namesCtrl', function($scope) {
			$scope.names = ['TinkerBell',
			'Moana',
			'Belle',
			'Arial',
			'Joe',
			'John',
			'Bunny',
			'Chi'];
				});
		</script>
	</body>
</html>